@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.main-header .logo {
    font-family: "Gantari", sans-serif;
    font-weight: bold;
    font-size: 1.25em;
  }


h3 {
    font-family: "Gantari", sans-serif;
    font-size: 1em;
    text-align: center;
}

div .separator_bar {
    height: 1px;
    width: 85%;
    background-color: rgba(125, 128, 129, 0.521);
    margin: auto;
    padding: 10em, 0 , 0, 0;
}

.dataTables_wrapper {
  overflow-y: scroll;
}




.box.box-solid.box-primary{
border-bottom-color:#5050B0;
border-left-color:#5050B0;
border-right-color:#5050B0;
border-top-color:#5050B0;
}

.grid1-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 10fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid1-checkbox { grid-area: 1 / 1 / 2 / 2; }
.grid1-numInput { grid-area: 1 / 2 / 2 / 3; }
.grid1-plot { grid-area: 2 / 1 / 3 / 3; }
